<footer class="container-fluid bg-light">
	<div class="row">
		<section class="col">
			Adresse
		</section>
		<section class="col">
			Horaires
		</section>
		<section class="col">
			Suivez-Nous
		</section>
	</div>

</footer>
