{% extends 'base.html.twig' %}

{% block title %}
	les Formules du Menu
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>
					Formules du moment</h1>
				<h3>
					(par catégorie)
				</h3>
			</div>
			{% for formule in formule%}
				<div class="col-12 mb-4">
					<div class="card; h-100">
						<div class="card-body">
							<h2 class="card-title">{{ formule.titre }}</h2>
							<p class="card-text">{{ formule.description }}
								<br>
								{{ formule.prix }}
							</p>
						</div>
					</div>
					<a href="{{ path('main_menu')}}"></a>
				</div>
			{% endfor %}

		</section>
	</main>
{% endblock %}
